.button {
    color: #bbb7b7;
    display: block;
    margin: 1em auto;
    width: 80%;
    min-height: 3em;
    border: solid 1px #000;
    border-radius: 0.5em;
    background-color: #252525;
}

a.button, div.button, label {
    text-align: center;
    padding-top: 1em;
}

.button:hover {
    background-color: #606060;
}