.main-content {
    margin: 1em;
    width: 98%;
}

.answer-button {
    cursor: pointer;
}

.active-answer {
    background-color: green;
}

.active-answer:hover {
    background-color: green;
}

.poll-subject {
    width: 42.5em;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #101010;
}

.question-block {
    margin: 1em auto;
    width: 85em;
    position: relative;
}

.survey-message {
    text-align: center;
    color: #101010;
    margin: 1em;
}

.question {
    margin: 1em;
    font-size: 1.5em;
}

.question-context {
    color: #101010;
}

.answers-block {
    margin: 1.5em;
}

.answers-block-label {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.answer-choice {
    display: flex;
    justify-content:
}

.radio-button {
    width: 2em;
    margin-left: 1em;
}

.next-question-button {
    position: absolute;
    width: 10em;
    top: 13em;
    right: 4.5em;
}

