.results-title, .poll-stat {
    margin: 1em auto;
    width: 35em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #101010;
}

.question-block {
    margin: 1em auto;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1em;
    width: 50em;
    color: #101010;
}