{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/poll.css' %}">
{% endblock %}

{% block content %}
    <div class="correction" style="margin-top:4em;"></div>

    <div class="main-content">

        <div class="poll-subject">{{ poll.subject }}</div>

        <div class="question-block block-border">
            {% if message %}
                <div class="survey-message">{{ message }}</div>
            {% endif %}
            {% if question %}
                <div class="question">
                    Question: <span class="question-context">{{ question.context }}</span><br><br>
                    <span class="statistics">
                        {% if statistics.poll_participants == 0 %}
                            <div class="statistics-message">You are the first participant in this survey</div>
                        {% elif statistics.question_participants == 0 %}
                            <div class="statistics-message">No one has answered this question yet</div>
                        {% else %}
                            <div class="statistics-message">
                                Answered: {{ question.participants }} /
                                percentage respondents: {{ statistics.percentage_poll_participants }}%
                            </div>
                            <div class="question-number">
                                {% for question_id, question_data in question_numbers.items %}
                                    {% if question_id == question_pk %}
                                        Pop question number: {{ question_data }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <a href="{% url 'polls:show_results' %}" class="send-results-button button">SAVE RESULTS</a>
            {% endif %}

            <div class="answers-block">
                {% if question %}
                    <div class="answers-block-label">Answer options:</div>
                {% endif %}
                {% for answer in answers %}
                    <div class="answer-choice">
                        <div class="answer-button button"
                        data-next-question="{{ answer.next_question.id }}"
                        data-answer-pk="{{ answer.pk }}"
                        data-question-pk="{{ question.pk }}">{{ answer.context }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <a href="{% url 'polls:poll' %}?poll_pk={{ poll.pk }}&next_question="
           class="next-question-button button" style="display:none;">NEXT</a>

        <div class="mission-complete" style="display:none;">MISSION COMPLETE!</div>

    </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var answersBlock = document.querySelector('.answers-block');
    var nextButton = document.querySelector('.next-question-button');
    var missionComplete = document.querySelector('.mission-complete');
    var messageElement = document.querySelector('.completed-survey-message');

    answersBlock.addEventListener('click', function(event) {
        var clickedButton = event.target;

        if (clickedButton.classList.contains('answer-button')) {
            answersBlock.querySelectorAll('.answer-button').forEach(function(button) {
                button.classList.remove('active-answer');
            });

            clickedButton.classList.add('active-answer');

            var nextQuestionId = clickedButton.getAttribute('data-next-question');
            var answerPk = clickedButton.getAttribute('data-answer-pk');
            var questionPk = clickedButton.getAttribute('data-question-pk');
            var currentUrl = nextButton.getAttribute('href').split('?')[0];

            if (nextQuestionId !== null) {
                var newUrl = currentUrl + '?poll_pk=' + {{ poll.pk }} + '&next_question=' + nextQuestionId + '&answer_pk=' + answerPk + '&question_pk=' + questionPk;
                nextButton.setAttribute('href', newUrl);
                nextButton.textContent = 'NEXT';
                nextButton.style.display = 'block';
                missionComplete.style.display = 'none';
                messageElement.style.display = 'none';
            } else {
                missionComplete.style.display = 'block';
                nextButton.style.display = 'none';
                messageElement.style.display = 'block';
            }
        }
    });
});
</script>
{% endblock %}