{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/poll.css' %}">
<link rel="stylesheet" href="{% static 'css/button.css' %}">
{% endblock %}

{% block content %}
    <div class="correction" style="margin-top:4em;"></div>

    {{ poll.subject }}<br>
    {{ question.context }}<br>

    {% for answer in answers %}
        <div class="answer-button" data-next-question="{{ answer.next_question.id }}">{{ answer.context }}</div><br>
    {% endfor %}

    {% if message %}
        <div class="completed-survey-message">{{ message }}</div>
        <a href="{% url 'polls:start_page' %}" class="button">SAVE RESULTS</a>
    {% endif %}

<a href="{% url 'polls:poll' %}?poll_pk={{ poll.pk }}&question="
   class="next-question-button" style="display:none;">NEXT</a>

<div class="mission-complete" style="display:none;">MISSION COMPLETE!</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var answerButtons = document.querySelectorAll('.answer-button');
        var nextButton = document.querySelector('.next-question-button');
        var missionComplete = document.querySelector('.mission-complete');
        var messageElement = document.querySelector('.completed-survey-message');

        answerButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var nextQuestionId = event.target.getAttribute('data-next-question');
                var currentUrl = nextButton.href.split('?')[0];

                if (nextQuestionId !== null) {
                    nextButton.href = currentUrl + '?poll_pk=' + {{ poll.pk }} + '&question=' + nextQuestionId;
                    nextButton.textContent = 'NEXT';
                    nextButton.style.display = 'block';
                    missionComplete.style.display = 'none';
                    messageElement.style.display = 'none';
                } else {
                    missionComplete.style.display = 'block';
                    nextButton.style.display = 'none';
                    messageElement.style.display = 'block';
                }
            });
        });
    });
</script>

{% endblock %}